body {
    background-color: #f8f9fa;
    margin: 6rem;
    padding: 6rem;
}

h1 {
    font-weight: 700;
}

button {
    min-width: 150px;
}

.groupContainer {
    margin: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;   
}